header {
    font-size: 80px;
    font-weight: 800;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}


img {
    width: 175px;
    height: 175px;
    margin: 10px;
    border-radius: 50%;
    border: solid black 1px;
}

.buttons, button {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.winner {
    font-size: 50px;
    font-weight: 800;
    color: black;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.reset {
    margin-top: 50px;
    font-weight: 650;
    font-size: 15px;
    color: red;
    width: 125px;
    height: 25px;
    background-color: white;
    border: solid red 3px;
    border-radius: 25px;
}

.comScore, .humScore {
    font-size: 40px;
    font-weight: 800;
    color: black;
    display: flex;
    justify-content: center;
}